*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 216, 223);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    z-index: 1000;
    background-color: pink;
    width: 100vw;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}

main{
    padding: 8px;
    flex: 1;
}

footer{
    background-color: pink;
    width: 100vw;
    z-index: 1000;
    color: white;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    margin-top: auto;
}

/* Index */
.index{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    margin-top: 18vh;
}

.index h2{
    font-size: 25px;
    color: white;
}

.index a{
    display: inline-block;
    padding: 14px 28px;
    background-color: white;
    color: pink;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* historia */
.historia{
    text-align: center;
}  

.historia h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.historia p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.historia a{
    display: inline-block;
    padding: 14px 28px;
    background-color: white;
    color: pink;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.historia h2{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}

.box-hist{
    background-color: white;
    color: pink;
    padding: 14px 28px;
    margin-bottom: 10px;
    border-radius: 10px;
}